{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Teol !{% endblock %}

{% block body %}

<h2>Présentation de la coopérative</h2>
<h2>Domaines d'activité</h2>
<h2>Zone d'activité</h2>
<h2>Actualités</h2>
<h2>Contact</h2>
<h2>Infos pratiques</h2>


{% endblock %}
